<section class="header">
    <div id="about_me">
      <p id="name">Luis Galindo</p>
      <p id="profession">Full Stack Developer, Angular Specialist</p>
      <p id="objetive">
        Comprometido con desarrollar aplicaciones eficientes y escalables,
        mejorando la experiencia del usuario a través de la tecnología moderna
      </p>
    </div>
    <div id="profile_picture">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgMQOQKisb5McckoJFyzBmWQzwlD2dgLdoBQ&s" alt="profile picture" id="profile_img">
    </div>
    <div id="my_data">
      <p id="email">
          lalogod74#gmail.com
          <img src="https://w7.pngwing.com/pngs/807/26/png-transparent-envelope-mail-icon-envelope-miscellaneous-angle-text.png" alt="email icon" class="icon">
      </p>
      <p id="phone">
          273-161-77-32
          <img src="https://w7.pngwing.com/pngs/712/520/png-transparent-google-mail-gmail-logo-icon-thumbnail.png" alt="phone icon" class="icon">
      </p>
      <p id="address">
          Huatusco , Ver.
          <img src="https://e7.pngegg.com/pngimages/561/324/png-clipart-location-address-position-linear-icon-location-address-thumbnail.png" alt="address icon" class="icon">
      </p>
      <p id="github">
          Luisitopr
          <img src="https://w7.pngwing.com/pngs/93/461/png-transparent-github-computer-icons-logo-readme-github-logo-monochrome-computer-wallpaper-thumbnail.png" alt="github icon" class="icon">
      </p>
    </div>
  </section>